{% extends "base.html" %}

{% block title %}Blog | {{ config.title }}{% endblock title %}

{% block content %}
<h1>Blog</h1>
{{ section.content | safe }}
<ul class="post-list">
  {% for post in section.pages %}
  <li class="post-item">
    {% if post.extra.image %}
    <img class="post-thumb" src="{{ get_url(path=post.extra.image) }}" alt="">
    {% endif %}
    <div>
      <a href="{{ post.permalink }}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date(format="%b %e, %Y") }}</span>
      {% if post.summary %}
      <p class="post-summary">{{ post.summary | safe }}</p>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
